.title {
    text-align: center;
    background-color: #0e2840;
    color: aliceblue;
    background-size: 0cqi;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    font-style: inherit;
    font-size: large;
}

.weather-results {
    margin-top: 30px;
}

.current-weather {
    margin-bottom: 20px;
}

.bordered {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    font-size: 80px;
    margin-right: 20px;
}

.weather-details {
    text-align: left;
}

.forecast {
    margin-top: 20px;
}

.forecast-item {
    margin-bottom: 20px;
    padding: 2%;
    border-radius: 5px;
    }

.date {
    font-weight: bold;
}

.current-date {
    font-weight: bold;
}
.search-history-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

.search-history-title {
    text-align: left;
}

.search-history-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.search-history-list li {
    cursor: pointer;
    margin-bottom: 5px;
}


#forecastSection {
    margin-top: 20px;
  }
  
  #forecastContainer {
    margin-top: 10px;
  }
  
  .forecastItem {
    flex: 1 1 20%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    }

  .search-history-item {
    padding: 10px;
    background-color: #444748;
    cursor: pointer;
    font-weight: bold;
    color: #c7dde3;
    border-radius: 5px;
  }
  
  .search-history-item:hover {
    background-color: #5766c3;
  }
  