.title {
    text-align: center;
}

.form {
    margin-top: 20px;
    text-align: center;
}

.weather-results {
    margin-top: 30px;
}

.current-weather {
    margin-bottom: 20px;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    font-size: 80px;
    margin-right: 20px;
}

.weather-details {
    text-align: left;
}

.forecast {
    margin-top: 20px;
}

.forecast-item {
    margin-bottom: 20px;
}

.date {
    font-weight: bold;
}

.search-history-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

.search-history-title {
    text-align: left;
}

.search-history-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.search-history-list li {
    cursor: pointer;
    margin-bottom: 5px;
}
