.title {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.form {
    margin-top: 20px;
}

.weather-results {
    margin-top: 40px;
}

.weather-info {
    display: flex;
    align-items: center;
}

.weather-icon {
    font-size: 80px;
    margin-right: 20px;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* .weather-icon {
    font-size: 80px;
    margin-right: 20px;
    color: #333;
  } */

  
.weather-details {
    margin-left: 20px;
}

.search-history-container {
    max-width: 300px;
    margin: 20px auto;
}

.search-history-title {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.search-history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-history-list li {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-history-list li:hover {
    background-color: #f2f2f2;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeIn {
    animation-name: fadeIn;
}